@import "./styles/global/fonts";
@import "./styles/global/colors";
@import "./styles/global/mixins";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  font-family: $primary-font;
}
